.card {
  @apply mx-auto
  mt-4
  max-w-[250px] sm:max-w-none
  sm:w-[400px]
  md:w-[600px]
  lg:w-[800px]
  text-left
  
  
  bg-white/10
  rounded-sm 
  p-1
  sm:p-2;

  &,
  * {
    @apply transition-all duration-150;
  }

  .card-items {
    @apply flex flex-wrap sm:flex-nowrap relative;

    .card-img {
      @apply me-3 pb-2
      
      sm:mt-1;
      img {
        @apply bg-transparent
        border-[1px]
        border-yellow-500
        rounded-sm;
      }
    }

    .card-texts {
      .title {
        @apply flex content-center      text-yellow-500
        leading-tight
        
        text-xl
        sm:text-2xl
        md:text-3xl;

        svg {
          @apply absolute 
          top-[2px]
          right-0


          md:top-[3px]

          w-6 h-6
          sm:w-7 sm:h-7
          md:w-8 md:h-8;
        }
      }

      p {
        @apply py-1 
        text-lg
        sm:text-xl
        md:text-2xl
        leading-snug;
      }
    }
  }

  &:hover {
    @apply scale-105 bg-white/20;
    svg {
      @apply scale-125;
    }
  }
  &:active {
    @apply scale-100 bg-yellow-500/10;
    svg {
      @apply scale-95;
    }
  }
}
